<!-- <h2>Hello Hosny</h2>
<app-login></app-login> -->
<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-employee">Add New Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employees">Manage All Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/jobs">Manage jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/departments">Manage Departments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="logOut()">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
